<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Bootstrap core CSS -->
        <link href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="./css/signup.css" rel="stylesheet">

        <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
        <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <title><%= title %></title>
    </head>
    <body>
    <div class="container">
        <% for(var i in messages) { %>
            <div class="flash"><%= messages[i] %></div>
        <% } %>
        <form action="/signup" method="post" class="form-signin">
                <label for="inputFirstName" class="sr-only">first name:</label>
                <input type="text" name="firstName" id="inputFirstName" class="form-control" placeholder="first name">
                <label for="inputLastName" class="sr-only">last name:</label>
                <input type="text" name="lastName" id="inputLastName" class="form-control" placeholder="last name">
                <label for="inputEmail" class="sr-only">email:</label>
                <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address">
                <label for="inputUserName" class="sr-only">user name:</label>
                <input type="text" name="userName" id="inputUserName" class="form-control" placeholder="user name">
                <label for="inputPassword" class="sr-only">password:</label>
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="password">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
        </form>
    </div>
    </body>
</html>